<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\ExploreGlobal.Api.Restful\packages.config" />
  <repository path="..\src\ExploreGlobal.Infrastructure.DependencyResolution\packages.config" />
  <repository path="..\src\ExploreGlobal.Infrastructure.Logging\packages.config" />
  <repository path="..\src\ExploreGlobal.Presentation.Web.UI\packages.config" />
  <repository path="..\src\ExploreGobal.Business.Domain.Entities\packages.config" />
  <repository path="..\src\ExploreGobal.Business.Domain.Interfaces\packages.config" />
  <repository path="..\src\ExploreGobal.Infrastructure.Data\packages.config" />
  <repository path="..\src\ExploreGobal.Presentation.ModelView\packages.config" />
  <repository path="..\src\ExploreGobal.Presentation.WebApplication\packages.config" />
  <repository path="..\src\ExploreLuxury.Api.Restful\packages.config" />
  <repository path="..\src\ExploreLuxury.Business.Domain.Entities\packages.config" />
  <repository path="..\src\ExploreLuxury.Business.Domain.Interfaces\packages.config" />
  <repository path="..\src\ExploreLuxury.Infrastructure.Data\packages.config" />
  <repository path="..\src\ExploreLuxury.Infrastructure.DependencyResolution\packages.config" />
  <repository path="..\src\ExploreLuxury.Infrastructure.Logging\packages.config" />
  <repository path="..\src\ExploreLuxury.Presentation.ModelView\packages.config" />
  <repository path="..\src\ExploreLuxury.Presentation.Web.UI\packages.config" />
</repositories>