@{
    ViewBag.Title = "Index";
}

<h2>
    Home
</h2>

<ul class="nav nav-pills">
    <li>@Html.ActionLink("List of Hotels", "List", "Hotel", null, new { @class = "lnk" })</li>
    <li>@Html.ActionLink("Insert Hotel", "Insert", "Hotel", null, new { @class = "lnk" })</li>
</ul>